.random-btn {
    background-image: linear-gradient(tomato, salmon);
    border: none;
    border-radius: 10px;
    height: 35px;
    box-shadow: 0px 5px 20px lightgray;
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
}

.random-btn:hover {
    background: orange;
    color: green;
}